API_PORT=8000
DEBUG=True
JWT_SECRET=replace_with_secure_secret

OPENROUTER_API_KEY=replace_with_openrouter_key
OPENROUTER_API_URL=https://openrouter.ai/api/v1/chat/completions

WEATHERAPI_API_KEY=replace_with_weatherapi_key
WEATHERAPI_BASE_URL=https://api.weatherapi.com/v1

NASA_EONET_API_URL=https://eonet.gsfc.nasa.gov/api/v3/events

NASA_FIRMS_MAP_KEY=replace_with_firms_map_key
NASA_FIRMS_API_BASE_URL=https://firms.modaps.eosdis.nasa.gov/api/area

USGS_EARTHQUAKE_API_URL=https://earthquake.usgs.gov/fdsnws/event/1/query
USGS_EARTHQUAKE_FORMAT=geojson
USGS_EARTHQUAKE_DAILY_FEED_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson

USGS_VOLCANO_API_URL=https://volcanoes.usgs.gov/vsc/api/volcanoMessageApi
USGS_VOLCANOES_US_URL=https://volcanoes.usgs.gov/vsc/api/volcanoApi/volcanoesUS

SMITHSONIAN_VOLCANO_REPORT_URL=https://a.cf11.si.edu/reports_weekly.cfm
SMITHSONIAN_VOLCANO_GEOJSON_URL=https://webservices.volcano.si.edu/geoserver/GVP-VOTW/wfs?service=WFS&version=1.0.0&request=GetFeature&typeName=GVP-VOTW:Holocene_Volcanoes&outputFormat=application/json
RELIEFWEB_REPORTS_API_URL=https://api.reliefweb.int/v2/reports
RELIEFWEB_APPNAME=neurashield-backend.onrender.com
